.containerRightClosed {
    text-align: left;
    min-height: 100%;
    display: grid;
    grid-template-columns: 150px 1fr 0px;
    grid-template-rows: 50px 1fr 85px;
    grid-template-areas:
        'header header header'
        'left main right'
        'footer footer footer';
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}

.containerRightOpen {
    grid-template-columns: 150px 1fr 250px;
    grid-template-rows: 50px 1fr 85px;
    grid-template-areas:
        'header header header'
        'left main right'
        'footer footer footer';
}

.left {
    grid-area: left;
    background-color: #ABFFC7;
    border-width: 0 0 0 1px;
    border-style: solid;
}

.right {
    background-color: #ABFFC7;
    grid-area: right;
    border-width: 0 1px 0 0;
    border-style: solid;
}

.main {
    grid-area: main;
    background-color: #8CFFB3;
    border-width: 0px 1px;
    border-style: solid;
}

.header {
    grid-area: header;
    background-color: #69BF86;
    border-width: 1px;
    border-style: solid;
}

.footer {
    grid-area: footer;
    background-color: #69BF86;
    border-width: 1px;
    border-style: solid;
}

.containerRightClosed div {
    padding: 5px 0px 0px 5px;
}

.containerRightOpen div {
    padding: 5px 0px 0px 5px;
}

.hidden {
    display: none;
}

#idInput,
#nameInput,
#surnameInput,
#emailInput,
#roleInput {
    width: 210px;
}

.leftMenu>div {
    padding: 5px;
    margin-top: 5px;
    width: 120px;
    text-align: center;
    cursor: pointer;

    background-color: #69BF86;
    transition: 0.5s background ease-in-out;
    color: #1E586B;
}

.leftMenu>div:hover {
    background-color: #1E586B;
    transition: 0.5s background ease-in-out;
    color: #69BF86;
}

.main>* {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#divForNavigateButtons button {
    margin-top: 5px;
}

#divForUsersTable table,
#divForUsersTable th,
#divForUsersTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

#divForUsersTable th,
#divForUsersTable td {
    padding: 5px;
    background-color: #ABFFC7;
}

.leftMenu>.active {
    background-color: #1E586B;
    transition: 0.5s background ease-in-out;
    color: #69BF86;
}

.main>div:nth-last-child(1) {
    margin-bottom: 20px;
}
@charset "utf-8";

html,
body {
    height: 100%;
    margin: 0px;
}

.indexContainer {
    text-align: left;
    margin: 0px;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.indexMain {
    grid-area: main;
    background-color: #8CFFB3;
    border-width: 0px 1px;
    border-style: solid;
}

.indexHeader {
    grid-area: header;
    background-color: #69BF86;
    border-width: 1px;
    border-style: solid;
}

.indexFooter {
    grid-area: footer;
    background-color: #69BF86;
    border-width: 1px;
    border-style: solid;
}
.loginForm {
    border-style: solid;
    border-color: black;
    border-width: 50px;
}