@charset "utf-8";

html,
body {
    height: 100%;
    margin: 0px;
}

.indexContainer {
    text-align: left;
    margin: 0px;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.indexMain {
    grid-area: main;
    background-color: #8CFFB3;
    border-width: 0px 1px;
    border-style: solid;
}

.indexHeader {
    grid-area: header;
    background-color: #69BF86;
    border-width: 1px;
    border-style: solid;
}

.indexFooter {
    grid-area: footer;
    background-color: #69BF86;
    border-width: 1px;
    border-style: solid;
}